<!doctype html>
<html lang='en'>
  <head>
    <title>Awesome Night</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap and dependencies this is being used for speed and less work on server side-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='container'>
      <!-- Title Row-->
      <div class='row'>
        <div class="col text-center">
          <h1>Awesome Night</h1>
        </div>
      </div>
      <h3 class="text-center">Find Some Fun For Tonight!</h3>
      <!-- Search Row -->
      <div class='row'>
        <div class='col'>
          <form>
            <div class='form-group text-center'>
              <input type='text' class='form-control' placeholder='Enter Location' id='search'>
              <button class='btn' id='search-btn'>Search!</button>
            </div>
          </form>
        </div>
      </div>
      <div id='root'>

      </div>
    </div>
  </body>
<html>
<style>
  body{
    background-color: black
  }
  .container{
    background-color: purple
  }
  .img-limt{
    max-height: 150px;
    max-width: 150px;
  }
</style>
<script>
// button user notifaction
  $(document).ready(()=>{
    $('#search-btn').click((event)=>{
      event.preventDefault();
      fetch('/api/bars/'+$('#search').val()).then(results=>{
        return results.json()
      }).then(results=>{
        if(results.error){
          alert("No Results Found");
        }
          renderResults(results.businesses);
        }).catch(e=>{
        console.log(e);
      })
    })
  })

  function renderResults(resultsArr){
    //console.log(resultsArr);
    let resultRender = $('<div/>');
    for(let i = 0; i<resultsArr.length; i++){
      var resultDiv = $('<div style="border-style: solid; border-width:1px; border-color:grey"/>',{
        class: 'row result',
      });
      var imgDiv = $('<div/>',{
        class: 'col '
      });
      resultRender.append('<h5 class="text-center">'+resultsArr[i].name+'</h5>')
      imgDiv.append('<img class='+'img-fluid '+'src= '+resultsArr[i].image_url+'>')
      resultDiv.append(imgDiv);
      var infoRow5 = $('<div/>',{
        class: 'row'
      });
      var infoCol5 = $('<div/>',{
        class: 'col'
      });
      var infoDiv = $('<div/>',{
        class: 'col'
      });
      var infoRow = $('<div/>',{
        class: 'row'
      });
      infoCol = $('<div/>',{
        class: 'col'
      });
      var infoRow2 = $('<div/>',{
        class: 'row'
      });
      infoCol2 = $('<div/>',{
        class: 'col'
      });
      var infoRow3 = $('<div/>',{
        class: 'row'
      });
      infoCol3 = $('<div/>',{
        class: 'col'
      });
      var infoRow4 = $('<div/>',{
        class: 'row'
      });
      var infoCol4 = $('<div/>',{
        class: 'col'
      });
      infoCol.append('<h5>Rating: '+resultsArr[i].rating+'</h5>');
      infoCol2.append('<h5># of Reviews:'+resultsArr[i].review_count+'</h5>');
      infoCol3.append('<h5>Location:'+resultsArr[i].location.address1+' '+resultsArr[i].location.city+' ,'+resultsArr[i].location.state+'</h5>');
      var goingButton = $('<button'+' class=btn'+'>'+'I am going'+'</button>')
      goingButton.click(()=>{goingTo(resultsArr[i].id)});
      infoCol4.append(goingButton);
      infoRow.append(infoCol);
      infoDiv.append(infoRow);
      infoRow2.append(infoCol2);
      infoDiv.append(infoRow2);
      infoRow3.append(infoCol3);
      infoDiv.append(infoRow3);
      infoRow4.append(infoCol4);
      infoDiv.append(infoRow4);
      infoCol5.append('<h5>People Going: Getting Data</h5>');
      numberGoing(resultsArr[i].id,infoCol5);
      infoRow5.append(infoCol5);
      infoDiv.append(infoRow5);
      resultDiv.append(infoDiv);
      resultDiv.append(infoDiv);
      resultRender.append(resultDiv);
      $('#root').append(resultRender);
    }
  }

  function goingTo(yelpId){
    fetch('api/going/'+yelpId,{
      credentials: "same-origin"
    }).then((res)=>{
      return res.json()
    }).then((data)=>{
      //console.log(data);
      if(data.operation === "Finished"){
        alert("You Are Going");
      }else if(data.code === 102){
        window.location ='./auth/google';
      }else{
        alert("You Are Now Not Going");
      }
    })
  }

  function numberGoing(yelpId,elm){
    return fetch('api/numberGoing/'+yelpId,{
      credentials: "same-origin"
    }).then(res=>{
      return res.json()
    }).then(data=>{
      //console.log(data);
      elm.empty();
      elm.append('<h5> People Going: '+data.numberGoing+'</h5>');
    }).catch(e=>{
      console.log(e);
    })
  }
</script>
